---
layout: categories
permalink: /categories/
title: Tags
search_exclude: true
show_link: true
---

{% if site.categories.size > 0 %}

  {% assign categories_temp = "" | split:"" %}
  {% for c in site.categories %}
    {% assign categories_temp = categories_temp | push: c[0] %}
  {% endfor %}
  {% assign categories_temp = categories_temp | sort_natural %}
  {% assign categories = "" | split:"" %} 
  {% for category in categories_temp %}
    {% assign postcounter = 0 %}
    {% for post in site.categories[category] %}
      {% if post.hide != true %}
        {% assign postcounter = postcounter | plus: 1 %}
      {% endif %}
    {% endfor %}
    {% if postcounter > 0 %}
      {% assign categories = categories | push: category %}
    {% endif %}
  {% endfor %}
  {% for category in categories %}
      <h3 id ="{{ category }}"><i class="fas fa-tags category-tags-icon"></i></i> {{ category }}</h3>
      <a name="{{ category | slugize }}"></a>
      {% for post in site.categories[category] %}
        {% if post.hide != true %}
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <article class="archive-item">
          {%- if post.mobile_link -%}
          <p class="post-meta post-meta-title desktop"><a class="page-meta" href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>  • {{ post.date | date: date_format }}</p>
          <p class="post-meta post-meta-title mobile"><a class="page-meta" href="{{ site.baseurl }}/{{ post.mobile_link }}">{{post.title}}</a>  • {{ post.date | date: date_format }}</p>
          {%- else -%}
          <p class="post-meta post-meta-title"><a class="page-meta" href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>  • {{ post.date | date: date_format }}</p>
          {%- endif -%}
        </article>
        {% endif %}
      {% endfor %}
  {% endfor %}

  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  {%- assign category = "annotated-paper" -%}
  <h3 id ="{{ category }}"><i class="fas fa-tags category-tags-icon"></i></i> {{ category }}</h3>
  <a name="{{ category | slugize }}"></a>
  {%- for path in page_paths -%}
    {%- assign post = site.pages | where: "path", path | first -%}
    {%- if post.categories contains "annotated paper" -%}
      {% if post.hide != true %}
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <article class="archive-item">
          {%- if post.mobile_link -%}
          <p class="post-meta post-meta-title desktop"><a class="page-meta" href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>  • {{ post.date | date: date_format }}</p>
          <p class="post-meta post-meta-title mobile"><a class="page-meta" href="{{ site.baseurl }}/{{ post.mobile_link }}">{{post.title}}</a>  • {{ post.date | date: date_format }}</p>
          {%- else -%}
          <p class="post-meta post-meta-title"><a class="page-meta" href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>  • {{ post.date | date: date_format }}</p>
          {%- endif -%}
        </article>
      {% endif %}
    {%- endif -%}
  {%- endfor -%}

{% endif %}
