<h3>
    {%- if post.mobile_link -%}
        <a class="post-link desktop" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
        </a>
        <a class="post-link mobile" href="{{ site.baseurl }}/{{ post.mobile_link }}" target="_blank">
            {{ post.title | escape }}
        </a>
    {%- else -%}
        <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
        </a>
    {%- endif -%}
</h3>
{%- if site.show_description and post.description  -%}
<p class="post-meta-description">{{ post.description }}</p>
{%- endif -%}
<p class="post-meta">{{ post.date | date: date_format }}</p>
