<span class="read-time" title="Estimated read time">
    {% assign words = content | strip_html | number_of_words %}
    {% if words < 360 %}
      1 min read
    {% else %}
      <!-- Quick research shows average adult words per minute is 200-300.
        Reading out loud for me appears to get to 250 wpm, which is the average.
        However, given math + code + others need to understand, I'm going to lower
        wpm expectation just a bit to 225.

        Furthermore, in order to avoid counting some extra words like footnotes and
        further reading sections, there is a remove_words parameter to set for a blog
        post such that those words aren't counted for the reading time computation.
      -->
      {{ words | minus:post.remove_words | divided_by:225 }} min read
    {% endif %}
</span>