// override defalt minima variables 

// width of the content area
// can be set as "px" or "%"
$content-width:    1000px;
$on-palm:          800px;
$on-laptop:        1000px;
$on-medium:        1000px;
// I don't like how the on-large makes the wrapper smaller by
// 30px, so I'm making the value huge so it never happens
$on-large:         10000px;
