$high-emph: rgba(white, 0.87);
$med-emph: rgba(white, 0.69); //Noicee
$low-emph: rgba(white, 0.38);
$dark-grey : #1b1f23;// #121212; 
// $dark-grey : #1F1B24;
$overlay: mix($dark-grey, white, 95%);
$overlay-light: mix($dark-grey, white, 86%);

.post img {
  max-height: 300px !important;
  margin-left: 0 !important;
}

body {
  margin-top: 55.95px !important;
  margin-bottom: 55.95px !important;
}

html, body, input, textarea, select, button, .Box {   
  color: $high-emph !important;
  background-color: $dark-grey !important;
}

a {
    color: rgb(75, 186, 255) !important;
}

a:hover {
    color:$high-emph !important;
}

.site-title, .site-title:visited, .site-nav, .page-link {
    color: $high-emph !important;
}

.site-nav {
    background-color: $overlay !important;
    border-color: $overlay-light;
}

.site-header, .site-footer {
    border-color: black !important;
    border-width: 2px !important;
    background-color: $overlay !important;
    position: fixed !important;
    opacity: 0.95;
    width: 100% !important;
}

* {
    scrollbar-color: $dark-grey $overlay-light;
}

pre, code {
    // BVas a lighter colour to better highlight short code words
    border-color: $overlay-light;
    background-color: $overlay;
}

.page-description {
    color: $med-emph;
}

.p-3 {
  position: relative !important;
}

.p-3 .post-meta {
    position: absolute !important;
    bottom: 12px !important;
    right: 16px !important;
}

.category-tags-link {
    color: #4bbaff !important;
    font-size: 16px !important;
    opacity: 0.6;
}

.post-meta {
    color: $low-emph !important;
    font-size: 16px !important;
}

.post-meta-description {
    color: $low-emph !important;
}

.post-content p, .post-content li {
    color: $med-emph;
}

.btn {
    background-color: $overlay !important;
    color: $high-emph !important;
    border-color: $overlay-light !important;
}

.btn:hover {
    background-color: $dark-grey !important;
}

.Box {
    border: 1px $overlay-light solid !important;
    background-color: $overlay !important;
}

.box-shadow-medium {
    box-shadow: 0 10px 10px rgba(0,0,0,0.8) !important;
}

table th{
    background-color: $overlay;
    border-color: $overlay-light;
    color: $high-emph;
}

table td{
    background-color: $dark-grey;
    border-color: $overlay-light;
    color: $med-emph;
}

.flash {
    color: $dark-grey !important;
    filter: brightness(80%);
}

canvas {
    filter: invert(100%);
}

 .svg-icon {
    transform: scale(1.5) !important;
    -ms-transform: scale(1.5) !important;
    -webkit-transform: scale(1.5) !important;
    color: #4bbaff !important;
    opacity: 0.5 !important;
    transition: 0.5s;
}

 .svg-icon:hover {
    transform: scale(2.0) !important;
    -ms-transform: scale(2.0) !important;
    -webkit-transform: scale(2.0) !important;
    opacity: 1.0 !important;
}

.social-media-list {
  float: left
}

.social-media-list li a {
    border: none !important;
    padding: 10px !important;
}

.site-footer {
    padding: 0px !important;
    bottom: 0 !important;
    box-shadow: 0 -3px 6px rgba(0,0,0,0.75) !important;
}

.site-header {
    top: 0 !important;
    box-shadow: 0 3px 6px rgba(0,0,0,0.75) !important;
}
.footer-col {
  margin-bottom: 0px !important;
}

::-webkit-scrollbar-track-piece:start {
    background: transparent url('{{ site.baseurl }}/images/transparent.png') repeat-y !important;
}

::-webkit-scrollbar-track-piece:end {
    background: transparent url('{{ site.baseurl }}/images/transparent.png') repeat-y !important;
}
