$high-emph: rgba(white, 0.87);
$med-emph: rgba(white, 0.69); //Noicee
$low-emph: rgba(white, 0.38);
$dark-grey : #1b1f23;// #121212; 
// $dark-grey : #1F1B24;
$overlay: mix($dark-grey, white, 95%);
$overlay-light: mix($dark-grey, white, 86%);

.post img {
  max-width: 500px !important;
  margin-left: 0 !important;
}
body::-webkit-scrollbar {
    border-left: 1px rgba(0,0,0,0.5) solid !important;
    background-color: $overlay !important;
}
body {
    margin-top: 56px !important;
    margin-bottom: 56px !important;
}

* {
    scroll-margin-top: 56px !important;
}

html, body, input, textarea, select, button, .Box {   
  color: $high-emph !important;
  background-color: $dark-grey !important;
}

a {
    color: rgb(75, 186, 255) !important;
}

a:hover {
    color:$high-emph !important;
}

.site-title, .site-title:visited, .site-nav, .page-link {
    color: $high-emph !important;
}

.site-nav {
    background-color: $overlay !important;
    border-color: $overlay-light;
}

.site-header, .site-footer {
    border-color: rgba(0,0,0,0.5) !important;
    border-width: 1px !important;
    background-color: $overlay !important;
    position: fixed !important;
    opacity: 0.97;
    width: 100% !important;
    z-index: 999999999;
}

* {
    scrollbar-color: $dark-grey $overlay-light;
}

pre, code {
    // BVas a lighter colour to better highlight short code words
    border-color: $overlay-light;
    background-color: $overlay;
}

.page-description {
    color: $med-emph;
}

.p-3 {
  position: relative !important;
}

.p-3 .post-meta {
    position: absolute !important;
    bottom: 12px !important;
    right: 16px !important;
}

.category-tags-link {
    color: #4bbaff !important;
    font-size: 16px !important;
    opacity: 0.6;
}

.post-meta {
    color: $low-emph !important;
    font-size: 16px !important;
}

.post-meta-description {
    color: $low-emph !important;
    padding-bottom: 30px !important;
    overflow: hidden;
    max-height: 250px;
}

.post-content p, .post-content li {
    color: $med-emph;
    font-size: 18px !important;
}

.btn {
    background-color: $overlay !important;
    color: $high-emph !important;
    border-color: $overlay-light !important;
}

.btn:hover {
    background-color: $dark-grey !important;
}

.Box {
    border: 1px $overlay-light solid !important;
    background-color: $overlay !important;
}

.box-shadow-medium {
    box-shadow: 0 10px 10px rgba(0,0,0,0.8) !important;
}

table th{
    background-color: $overlay;
    border-color: $overlay-light;
    color: $high-emph;
}

table td{
    background-color: $dark-grey;
    border-color: $overlay-light;
    color: $med-emph;
}

.flash {
    color: $dark-grey !important;
    filter: brightness(80%);
}

canvas {
    filter: invert(100%);
}

.social-media-list .svg-icon {
    transform: scale(1.5) !important;
    -ms-transform: scale(1.5) !important;
    -webkit-transform: scale(1.5) !important;
    color: #4bbaff !important;
    opacity: 0.5 !important;
    transition: 0.5s;
}

.social-media-list .svg-icon:hover {
    transform: scale(1.75) !important;
    -ms-transform: scale(1.75) !important;
    -webkit-transform: scale(1.75) !important;
    opacity: 1.0 !important;
}

.social-media-list {
  float: left
}

.social-media-list li a {
    border: none !important;
    padding: 10px !important;
}

.site-footer {
    padding: 0px !important;
    bottom: 0 !important;
    box-shadow: 0 -1px 6px rgba(0,0,0,0.5) !important;
}

.site-header {
    top: 0 !important;
    box-shadow: 0 1px 6px rgba(0,0,0,0.5) !important;
}
.footer-col {
    margin-bottom: 0px !important;
}

.section-nav {
    float: left !important;
    border: 1px $overlay-light solid !important;
    background-color: $overlay !important;
    border-radius: 5px !important;
    list-style-position: inside !important;
    padding: 20px !important;
    opacity: 0.75 !important;
    margin-left: 0px !important;
    margin-right: 20px !important;
}

.annotator-toolbar {
    top: 56px !important;
}

.annotator-toolbar__sidebar-toggle {
    border-left: 1px rgba(0,0,0,0.5) solid !important;
    border-bottom: 1px rgba(0,0,0,0.5) solid !important;
    background-color: $overlay !important;
}

.annotator-toolbar-buttonbar {
    display:none !important;
}

.annotator-bucket-bar {
    display: none !important;
}

#footnote-popup {
    position: absolute;
    z-index: 99999999999;
    box-shadow: 0 3px 10px black;
    padding: 10px;
    max-width: 400px;
    border: 2px $low-emph solid !important;
    border-radius: 5px;
    background-color: black !important;
}
  
