.timeline_box{
    margin:0% 10%;
    color:rgba(white, 0.38);
}

.timeline_box .title{
    color:#4bbaff;
}

.timeline_box ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    transition: all 0.5s linear;
    top:0
}

.timeline_box ul:before{
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border:1px dashed #4bbaff;
    position: absolute;
    top:0;
    left:30px
}

.timeline_box ul li{
    margin: 20px 60px 60px;
    position: relative;
    padding: 10px 10px;
    background:#262a2e;
    border-radius: 10px;
    line-height: 20px;
    width: 90%;
    border: 1px black solid;
}

.timeline_box ul li > span{
    content: "";
    display: block;
    width: 0;
    height: 100%;
    position: absolute;
    top:0;
    left:-30px
}

.timeline_box ul li > span:after{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background:#4bbaff;
    border:2px solid #000;
    position: absolute;
    left:-7.5px
}

.timeline_box ul .current > span:before{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background:#4bbaff;
    border:2px solid #000;
    position: absolute;
    left:-7.5px
}

.timeline_box ul li > span:before{top:-10px}
.timeline_box ul li > span:after{bottom:-37.5px}

.timeline_box .title{
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px
}

.timeline_box .info:first-letter{text-transform: capitalize;line-height: 1.7}

.timeline_box .name{
    margin-top: 10px;
    text-transform: capitalize;
    text-align: right;
    color:rgba(white, 0.69);
}


.timeline_box .time span{
    position: absolute;
    left: -100px;
    font-size:80%;
    font-weight: bold;
    color: rgba(white, 0.69);
}

.timeline_box .time span:first-child{top:-14px;}
.timeline_box .time span:last-child{bottom:-40px;}

.timeline_box ul .start_timeline{
    margin-bottom:0px;
}

.timeline_box ul .start_timeline > span:after{
    top:95%;
}

.timeline_box .start_timeline .time span:last-child{top:94%;}
